{% extends "base.html" %}

{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){

            console.log("in the function :)");
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });
            var activeTab = localStorage.getItem('activeTab');
            if(activeTab){
                $('#Manage_site_tabs a[href="' + activeTab + '"]').tab('show');
            }
        });

        $(document).ready(function(){

            console.log("in the function :)");
            $('a[data-bs-toggle="tab"]').on('show.bs.tab', function(e) {
                localStorage.setItem('activesubTab', $(e.target).attr('href'));
            });
            var activeTab = localStorage.getItem('activesubTab');
            if(activeTab){
                $('#manage_course_tabs a[href="' + activeTab + '"]').tab('show');
            }
        });
    </script>

</head>
<body>

    <div class="card col-md-8" style="margin:auto;">

        <ul class="nav nav-tabs" id="Manage_site_tabs">
            <li class="nav-item">
                <a href="#ManageAnnouncements" class="nav-link active" data-toggle="tab">Announcements</a>
            </li>

            <li class="nav-item">
                <a href="#ManageUsers" class="nav-link" data-toggle="tab">Users</a>
            </li>

            <li class="nav-item">
                <a href="#ManageAcademics" class="nav-link" data-toggle="tab">Academics</a>
            </li>
            
            <li class="nav-item">
                <a href="#ManageJoinTeamRequests" class="nav-link" data-toggle="tab">Join Team Requests</a>
            </li>

            <li class="nav-item">
                <a href="#ManageBugReports" class="nav-link" data-toggle="tab">Bug Reports</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="ManageAnnouncements" >
                {% include "site_management_templates/manage_announcements.html" %}
            </div>

            <div class="tab-pane fade" id="ManageUsers">
                {% include "site_management_templates/manage_users.html" %}
            </div>

            <div class="tab-pane fade" id="ManageAcademics">
                {% include "site_management_templates/manage_academics_templates/manage_academics_tabs.html" %}
                <div class="tab-content">
                    <div class="tab-pane show active" id="manageDepartments">
                        {% include "site_management_templates/manage_academics_templates/manage_departments.html" %}
                    </div>
        
                    <div class="tab-pane fade" id="manageCourses">
                        {% include "site_management_templates/manage_academics_templates/manage_courses.html" %}
                    </div>

                    <div class="tab-pane fade" id="ManageProfessors">
                        {% include "site_management_templates/manage_academics_templates/manage_professors.html" %}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="ManageJoinTeamRequests">
                {% include "site_management_templates/manage_join_team_requests.html" %}
            </div>

            <div class="tab-pane fade" id="ManageBugReports">
                {% include "site_management_templates/manage_bug_reports.html" %}
            </div>
        </div>
    </div>
</body>

{% endblock %} 
