<form action = "{{ url_for('manage_student_resources') }}" 
    enctype='multipart/form-data'
    method="post">
    <div class="card" >
        <div class = "card-header">
            <h2>Manage Tutorials</h2>
        </div>
        <div class="card-body">
            <table class = "table">
                <thead>

                    <tr>
                        <td>
                            <input id="input-b3" type="file" class="file" multiple name = "tutorial_list">
                        </td>
                        <td>
                            <input type="submit" class="btn btn-primary CCCS-button" name="create_tutorial_submit">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% if all_tutorials | length > 0 %}

                    {% for tutorial in all_tutorials %}
                        <tr>
                            <td> {{ tutorial['tutorial_name'] }} </td>
                            <td> <a href="{{ tutorial['pdf_link'] }}">{{ tutorial['pdf_link'] }}</a> </td>

                            <td>
                                <button type ="submit" class="btn btn-primary CCCS-button" name="delete_tutorial_submit" value="{{ tutorial['id'] }}">Delete</button>
                            </td>                            

                        </tr>
                    {% endfor %}

                    {% else %}
                        <tr>
                            <td>
                                None
                            </td>
                            <td>
                                None
                            </td>

                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</form>