<div class="card" >
    <div class = "card-header">
        <h2>Course Overview</h2>
    </div>
    <div class="card-body">
        <p>
            <h4>Course Description</h4>
            Program design and development using C++. A disciplined
            approach to problem solving and algorithm development
            is stressed using top-down design. Topics include syntax
            and semantics, input/output, selection, iterative constructs,
            functions, data types, arrays, strings, pointers, and recursion
        </p>

        <p>
            <h4>
                Announcements
            </h4>
            <p>
            I create a google group for each class. This allows the class (instructor and students) to communicate quickly. 
            Messages are set to immediate delivery so that you can get messages from me or your classmates right away. 
            The messages are sent to your college email account. 
            You can also access the google group to read messages or search for previous messages -- you will need to login using your college email account information.
            <ul>
                <a href="https://groups.google.com/forum/#!forum/cc_ciss240_spring2022"> Class Google group </a>
            </ul>
            </p>
            <p>
                If you prefer to manage messages your way, you can do the following:
                <ul>
                    <li>
                        Login to google. 
                        Go to the class's google group, change your settings for the group. 
                        You can for instance set your email delivery to none and check the google group's website for messages.
                    </li>
                    <li>
                        Set filters in your email account. 
                        For instance you can create a folder in your email account and have email from the google group auto-moved from inbox to this folder.
                    </li>
                </ul>
            </p>
            <p>
                If you want to do any of the two above but have problems or questions on how to do that, just talk to me.
            </p>
        </p>
        
    </div>
</div>