<div class="card" >
    <div class = "card-header">
        <h2>Tutorials</h2>
    </div>
    <div class="card-body">
        <table class = "table">
            <thead>
                <tr>
                    <th scope = "col">Title</th>
                    <th scope = "col">View</th>
                </tr>
            </thead>
            <tbody>
                {% if all_tutorials | length > 0 %}

                {% for tutorial in all_tutorials %}
                    <tr>
                        <td> {{ tutorial['tutorial_name'] }} </td>
                        <td>
                            <a class="btn btn-primary CCCS-button" href='{{url_for("view_tutorial", args = { "tutorial_id" : tutorial["id"]})}}' style="width: 100%;" role="button">View</a>
                        </td>  
                    </tr>
                {% endfor %}

                {% else %}
                    <tr>
                        <td>
                            None
                        </td>
                        <td>
                            None
                        </td>

                    </tr>
                {% endif %}
            </tbody>
        </table>


    </div>
</div>