{% extends "base.html" %}

{% block content %}

{{ super() }}

<body>
    <div class = "card">
        <div class = "card-header">
            <h1>
                Scholarship
            </h1>
        </div>
        <div class = "card-body">
            <p>
                <ul>
                    <h3>
                        Requirements
                    </h3>
                    <ul>
                        <li>A minimum ACT Score of 21 </li>
                        <li>Class ranking in the top 50% of graduating class</li>
                        <li>minimum High School GPA of 2.5</li>
                        <li>Better academics are required to be eligible for the scholarship
                            <br>
                            <br>
                            Of course, they will likely expect more from international students
                        </li>
                    </ul>
                </ul>

                <ul>
                    <h3>
                        Application Process
                    </h3>
                    <ul>
                        <p>
                            <h4>
                                Link: <a href="https://www.ccis.edu/about/policies/undergraduate-admissions-requirements">CCIS Undergraduate Admissions Requirements</a> </li>
                            </h4>
                        </p>
                        <p>
                            <h4>
                                How to Apply as an International Student
                            </h4>
                            <div class ="embed-responsive embed-responsive-16by9 text-center rounded">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/xYLloV1jPQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </p>
                    </ul>
                </ul>
            </p>
        </div>
    </div>
</body>

{% endblock %}