<div class = "card">
    <div class = "card-header">
        <h1>
            Video Conferences
        </h1>
    </div>
    <div class = "card-body">
        <p>
            We host video conferences to meet up with students from Nepal. 
            This is a great opportunity for us to meet with you and address any questions you have about studying in the USA, 
            in Columbia College, Computer Science, etc.
        </p>
        <p>
            <div class="table-responsive table-striped">
                <table class="table text-center">
                    <thead> 
                        <tr>
                            <th scope = "col">Name</th>
                            <th scope = "col">USA Datetime (CST)</th>
                            <th scope = "col">Nepal Datetime (GMT+5:45)</th>
                            <th scope = "col">Signup Form</th>
                            <th scope = "col">Google Meet</th>
                            <th scope = "col">Recordings</th>
                            <th scope = "col">Num of Participants</th>
                            <th scope = "col" >Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Conference #2.1</td>
                            <td>Aug 27, 2021, 10:15pm</td>
                            <td>Aug 28, 2021, 9AM</td>
                            <td><a href="http://bit.ly/cccsnepal2">Form</a></td>
                            <td><a href="https://meet.google.com/bxd-hrtn-sco">Meet</a></td>
                            <td>
                                <ul class = "list-inline"> <a href="https://photos.google.com/share/AF1QipM6jnWK3lZ3PXRa3-ITMht7Y-ZQfu2WX6PHdfE4WyoOEkiUlkVItyXWTHMuj7bM5A?pli=1&key=TEZXZ2lPS2FLYUxEYkh5YkhpcTVrd1NScFRYU1VB">Part 1</a></ul>
                                <ul class = "list-inline"> <a href="https://photos.google.com/share/AF1QipP5uyEAcICJSDwISDPDmft_g9DojLnFDRJEQdk-Run3fCmpy2ziiyHD7zKvt0DkaQ/photo/AF1QipOObCAy7FOxgLijaeRr_62reXQ-UUi7eV44-DjF?key=emp6dE9CZ0VWckwwYTNTaWxWdkFYUi0wdzBhWTlB">Part 2</a></ul>
                                <ul class = "list-inline"> <a href="https://photos.google.com/share/AF1QipOpat5YWuoCC4JUmRNxqL3oZ4NT4dpLJOeHn2oaukeTG2j2c3Q1O0xWv7dhIc53lg?key=TFp6WGFSWDU5Ym1TamNBTThiY2VBN3UxSnpBZ0x3">Part 3</a></ul>
                                <ul class = "list-inline"> <a href="https://photos.google.com/share/AF1QipMSvMmUtxy-le3AxDgCaZ0rk2cyG2RNCROQRdmItkXy6dZWYoqt_qAAaA2dIHAQLw?key=bFp2cmV6WG5iTGtMOUdmR2ZBMUI2ckdtYnJzNjd3">Part 4</a></ul>
                            </td>
                            <td>260</td>
                            <td width = "30%">
                                This video conference is specifically for Nepali students 
                                who are interested in studying at Columbia College
                                (in Columbia, Missouri, USA) beginning Fall (August) 2022.
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    
                    </tbody>
                </table>
            </div>
        </p>
    </div>
</div>
