{% extends "base.html" %}

{% block content %}

{{ super() }}

<body>
    <div class = "card">
        <div class = "card-header">
            <h1>
                Scholarship Interview
            </h1>
        </div>
        <div class = "card-body">
            <p>
                <h4>Prepare for The Interview</h4>
                <ul>
                    <h5 style="color: red;">Important Advice:</h5>
                    <ul>
                        <li>For overseas/international students, the scholarship interview is done through a video chat (probably either skype or zoom)</li>
                        <li>It is important to speak clearly and slowly</li>
                        <li>You are under the mercy of internet bandwidth</li>
                    </ul>
                    We once had a strong candidate who did not do well during the interview process because of bad internet connection. And because he was talking too fast, some of the spoken words were either garbled or totally lost in transmission. So practice talking slowly with a friend doing a mock interview.
                </ul>
            </p>
            <p>
                <h4>Get Advice</h4>
                <ul>
                    <li>You might want to google for advice and common questions asked during a scholarship interview</li>
                    <li>You might want to ask someone to do a mock interview with you, record the session, and play it back to yourself</li>
                </ul>
            </p>
            <p>
                <h4>Be relaxed, Be Polite, and Ask Questions</h4>
                <ul>
                    <li>Go into the interview relaxed. Try to calm yourself down and avoid being tense and stiff</li>
                    <li>Treat the interviewer with respect and courtesy, they are more likely to report back kindly on someone who treated them nicely</li>
                    <li>If you do not understand the question (either because the question was vague or because of bad internet connection), it is OK to ask the interviewer to repeat the question or ask for clarification</li>
                </ul>
            </p>
        </div>
    </div>
</body>

{% endblock %}