<div class = "card">
    <div class = "card-header">
        <h1>
            Frequently Asked Questions
        </h1>
    </div>
    <div class = "card-body">
        <p>
            <h4>What is the average cost of living for Columbia, Missouri, USA?</h4>
            <ul>
                <p>
                    As of 3/22/2020, according to the first website returned when doing a 
                    google search for cost of living in Columbia, Missouri, USA, 
                    the average cost of living index is 87.9. The website uses 100 to denote the 
                    average cost of living in the USA. Therefore the average cost of living 
                    for Columbia, Missouri, USA is below average.  (Of course the data will 
                    vary from year to year and different websites might calculate differently.) 
                </p>
                <p>
                    On the topic of living in Columbia, Missouri, USA:
                    <ul>
                        <li>
                            Columbia, Missouri, USA is frequently listed as one of 
                            the top most livable college towns in the USA. For instance 
                            according to an article in 
                            <a href="https://www.usatoday.com/story/money/2019/09/07/best-college-towns-these-30-rank-among-30-top-us/2235088001/">
                                USA Today (dated 9/2019)
                            </a>
                            Columbia, 
                            Missouri is ranked #17 among all college towns in the USA. 
                            Of course, rankings vary year to year and vary website to 
                            website. For instance livability.com ranks Columbia, 
                            Missouri as #7 in 2015.
                        </li>
                        <li>
                            According to a report by 
                            <a href = "https://www.asecurelife.com/">
                                ASecureLife.com
                            </a>, Columbia College is No. 3 
                            most secure college campus in the United States. The publication 
                            ranked campuses based on property crime 
                            rates after analyzing 10 years' worth of crime data from 
                            hundreds of public and nonprofit colleges.

                        </li>
                    </ul>
                </p>

            </ul>
        </p>
        
        <p>
            <h4>Do I need to know how to program to get into your CS program?
            </h4>
            <ul>
                <p>
                    No. In our computer science program, we do not assume you have 
                    prior programming experience. We have very successful graduates 
                    who enter our computer science program without any programming background.
                </p>
            </ul>
        </p>

        <p>
            <h4>Can I take science classes?
            </h4>
            <ul>
                <p>
                    Yes. Columbia College also offers classes in physics, 
                    chemistry, and biology. Here is a 
                    <a href="http://catalog.ccis.edu/content.php?catoid=26&navoid=3102">
                        link 
                    </a>
                    to the catalog of courses offered at Columbia College.

                </p>
            </ul>
        </p>
    </div>
</div>