<ul class="nav nav-tabs" id="CCCSNepal_tabs">
    <li class="nav-item">
        <a href="#CCCSNepal_Overview" class="nav-link active" data-bs-toggle="tab">Overview</a>
    </li>
    <li class="nav-item">
        <a href="#CCCSNepal_Scholarship" class="nav-link" data-bs-toggle="tab">Scholarships</a>
    </li>
    <li class="nav-item">
        <a href="#CCCSNepal_StepsToTake" class="nav-link" data-bs-toggle="tab">Steps To Take</a>
    </li>
    <li class="nav-item">
        <a href="#CCCSNepal_ScholarshipInterview" class="nav-link" data-bs-toggle="tab">Scholarship Interview</a>
    </li>
    <li class="nav-item">
        <a href="#CCCSNepal_VideoConference" class="nav-link" data-bs-toggle="tab">Video Conferences</a>
    </li>
    <li class="nav-item">
        <a href="#CCCSNepal_ContactInfo" class="nav-link" data-bs-toggle="tab">Contact Info</a>
    </li>
    <li class="nav-item">
        <a href="#CCCSNepal_FAQ" class="nav-link" data-bs-toggle="tab">FAQ</a>
    </li>
</ul>