<div class = "card">
    <div class = "card-header">
        <h1>
            Contact Information
        </h1>
    </div>
    <div class = "card-body">
        <p>
            We are always happy to help if there are queries regarding anything. 
            (Anything …. including McDonald's burger price)  
            Here are some contact email contact information: 
            <ul>
                <div class = "table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Saurav Bhattarai</td>
                                <td><a href="mailto:sbhattarai5@cougars.ccis.edu">sbhattarai5@cougars.ccis.edu</a></td>
                            </tr>
                            <tr>
                                <td>Aastha Lamichhane</td>
                                <td><a href="mailto:alamichhane@cougars.ccis.edu">alamichhane@cougars.ccis.edu</a></td>
                            </tr>                                                        
                            <tr>
                                <td>Bibek Poudel</td>
                                <td><a href="mailto:bpoudel1@cougars.ccis.edu">bpoudel1@cougars.ccis.edu</a></td>
                            </tr>
                            <tr>
                                <td>Dr. Yihsiang Liow</td>
                                <td><a href="mailto:yliow@ccis.edu">yliow@ccis.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ul>
            <ul>
                For questions related to computer science, 
                comparison of computer science programs/departments, 
                career questions, feel free to email Dr. Liow.
            </ul>
        </p>

    </div>
</div>