{% extends "base.html" %}

{% block content %}

{{ super() }}

<body>
    <div class = "card">
        <div class = "card-header">
            <h1>
                Overview
            </h1>
        </div>
        <div class = "card-body">
            <p>
                Our department hosts a thriving community of Computer Scientists from Nepal, many of which have gone on to work for top companies,
                found their own start ups, and continue on to graduate school to pursue their PhDs.
            </p>
            <p>
                Columbia College offers full-tuition scholarships to international students. 
                Besides that, the computer science program also provides opportunity for on-campus work-study employment.
            </p>
            <p>
                To be successful in obtaining the full-tuition scholarship, 
                you must be strong academically and prove that you are someone who will contribute positively to the computer science rogram and also to student life in Columbia College. 
                Besides being a top student academically, a Columbia College scholar is also someone who is active in the college. 
                Therefore it is important for you to show that you are active in your student clubs or organizations at school and/or have some service record such as volunteer work in your community. 
                We are not just looking for someone who is academically strong. 
                We are looking for someone who is concerned about the world and whose goal is to make the world a better place.
            </p>
        </div>
    </div>
</body>

{% endblock %}