{% extends "base.html" %}

{% block content %}

{{ super() }}

<body>
    <div class = "card">
        <div class = "card-header">
            <h1>
                Steps to Take
            </h1>
        </div>
        <div class = "card-body">
            <p>
                <ul>
                    <p><h4>Take SAT and TOEFL after your final exams</h4>
                    <ul>
                        <li>SAT requires 2 months preparation and TOEFL requires 1 month of preparation</li>
                        <li>Try to register for the SAT and TOEFL as early as possible. There are limited exam centers in Nepal and they may run out of seats.</li>
                        <li>The ideal time to take the SAT is Oct-Nov and TOEFL on May-June so that you can take it again in December if your score was not satisfactory.</li>
                        <li>Khan Academy has a lot of free resources to prepare for the SAT.</li>
                        <li>Practice and early preperation is key</li>
                    </ul>
                    </h4>
                    <p><h4>Create a common application account and fill out the details</h4>
                        <ul>
                            <li>
                                Link: <a href="https://www.commonapp.org/"> commonapp</a>
                            </li>
                        </ul>
                    </h4>
                    <p><h4>Ask your teachers for the letter of recommendation</h4>
                        <ul>
                            <li>A Letter of Recommendation is a document where your instructor describes your skills and potential</li>
                            <li>It is good to have 3 letters of recommendation
                                <ul> Usually, universities asks for 2 letters of recommendation</ul>
                            </li>
                        </ul>
                    </p>
                    <p> <h4>Draft your Personal Essay</h4>
                        <ul>
                            <li>Start thinking about the personal essay early</li>
                            <li>There are multiple personal essays to choose from, in common application</li>
                            <li>You should answer one of them in an elegant way</li>
                            <li>Start brainstorming early, consult your English teacher, and try to come up with an essay that describes you well</li>
                        </ul>
                    </p>
                    <p> <h4>Apply</h4>
                        <ul>
                            <li>Begin after you are done with these processes and SAT/ACT and TOEFL/IELTS</li>
                        </ul>
                    </p>
                    
                </ul>
            </p>
        </div>
    </div>
</body>

{% endblock %}