{% extends "base.html" %}

{% block content %}

{{ super() }}

<body>
    <div class="card col-md-8" style="margin: auto;">
        <div class = "card text-center">
            <div class="card-header">
                <h1>Resend Registration Code</h1>
            </div>
            <div class="card-body text-left">
                <form action = "{{ url_for('resend_registration')}}" method="post">

                    <div class="row justify-content-center">
                        <div class="form-group col-6">
                            <label for="email">Email</label>
                            <input id="email" type="email" class="form-control" placeholder="Email" name="email" required>
                        </div>
                    </div>

                    <div class="text-center"> 
                      <button type="submit" class="btn btn-primary CCCS-button">Resend</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>




{% endblock %}