/* Add a black background color to the top navigation */

@media (max-width: 600px) {
  .menu-topbar {

    /* background-color: #333; */
    background: linear-gradient(90deg, #002855, grey);

    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .menu-topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .menu-topbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .menu-title {
    background-color: red;
    color: white;
    pointer-events: none;

    /* margin-left: 5%; */

  }

  /* Right-aligned section inside the top navigation */
  .menu-topbar-right {
    display: none;
    float: right;
    margin-right: 15%;
  }

  .menu-topbar a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (min-width: 600px)
{
  .menu-topbar {

      /* background-color: #333; */
      background: linear-gradient(90deg, black, grey);

      overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .menu-topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .menu-topbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .menu-title {
    background-color: red;
    color: white;
    pointer-events: none;
    /* margin-left: 5%; */

  }

  /* Right-aligned section inside the top navigation */
  .menu-topbar-right {
    display: block;
    float: right;
    margin-right: 15%;
  }

  .menu-topbar a.icon {
    background: black;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}