{% extends "base.html" %}

{% block content %}

{{ super() }}

<body>
    <div>
        The computer science program at Columbia College is a very rigorous computer science program. 
        We have graduates who are successful in obtaining employment with top companies. 
        Many students have multiple jobs offered months before graduation. 
        We also have students who have gone on to graduate school to pursue a Ph.D./MS in computer science. 
        Here is a non-exhaustive list of multi-billion dollar revenue companies who are hiring some of our graduates:
        <ul class = "jobs" style = 'padding-top: 5%; padding-left: 5%; padding-right: 5%'>
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/Google' style="width: 100%;" role="button">Google</a>
            </li>
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/Amazon_(company)' style="width: 100%;" role="button">Amazon</a>
            </li>
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/Microsoft' style="width: 100%;" role="button">Microsoft</a>
            </li>
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/IBM' style="width: 100%;" role="button">IBM</a>
            </li>
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/HP_Inc.' style="width: 100%;" role="button">HP Inc.</a>
            </li>                               
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/AT%26T' style="width: 100%;" role="button">AT&T</a>
            </li>                                
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/Bayer' style="width: 100%;" role="button">Bayer</a>
            </li>
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/Dell' style="width: 100%;" role="button">Dell</a>
            </li>                                
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/Emerson_Electric' style="width: 100%;" role="button">Emerson Electric</a>
            </li>
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/Lockheed_Martin' style="width: 100%;" role="button">Lockheed Martin</a>
            </li>
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/Raytheon' style="width: 100%;" role="button">Raytheon</a>
            </li>
            <li style="padding: 1%;">
                <a class="btn btn-primary CCCS-button" href='https://en.wikipedia.org/wiki/Garmin' style="width: 100%;" role="button">Garmin</a>
            </li>
        </ul>
    </div>
</body>

{% endblock %}