<form action = "{{ url_for(course_name)}}" method="post">
    <div class="card" >
        <div class = "card-header">
            <h2>Projects</h2>
        </div>
        <div class="card-body">
            <table class = "table">
                <thead>
                    <tr>
                        <th scope = "col">Title</th>
                        <th scope = "col">Due Date</th>
                        <th scope = "col">View</th>
                    </tr>
                </thead>
                <tbody>
                    {% if all_projects | length > 0 %}

                    {% for project in all_projects %}
                        <tr>
                            <td> {{ project['project_name'] }} </td>
                            <td> {{ project['due_date'].strftime("%B %d, %Y") }} </td>

                            <td>
                                <button type ="submit" class="btn btn-primary CCCS-button" name="view_project_submit" value="{{ project['id'] }}">View</button>
                            </td>  
                        </tr>
                    {% endfor %}

                    {% else %}
                        <tr>
                            <td>
                                None
                            </td>
                            <td>
                                None
                            </td>

                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</form>