<form action = "{{ url_for('course_template', course_code = course_data['department']['code'], course_num = course_data['course_num']) }}" method="post">
    <div class="card" >
        <div class = "card-header">
            <h2>Manage Notes</h2>
        </div>
        <div class="card-body">
            <table class = "table">
                <thead>
                    <tr>
                        <th scope = "col">Title</th>
                        <th scope = "col">Link</th>
                        <th scope = "col">Delete</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control" name="notes_name" placeholder="Chapter 1 : What is Programming">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="pdf_link" placeholder="https://drive.google.com/file/d/file-code-here/preview">
                        </td>
                        <td>
                            <input type="submit" class="btn btn-primary CCCS-button" name="create_notes_submit">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% if all_notes | length > 0 %}

                    {% for note in all_notes %}
                        <tr>
                            <td> {{ note['notes_name'] }} </td>
                            <td> <a href="{{ note['pdf_link'] }}">{{ note['pdf_link'] }}</a> </td>

                            <td>
                                <button type ="submit" class="btn btn-primary CCCS-button" name="delete_notes_submit" value="{{ note['id'] }}">Delete</button>
                            </td>                            

                        </tr>
                    {% endfor %}

                    {% else %}
                        <tr>
                            <td>
                                None
                            </td>
                            <td>
                                None
                            </td>

                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</form>