<form action = "{{ url_for('course_template', course_code = course_data['department']['code'], course_num = course_data['course_num']) }}" method="post">
    <div class="card" >
        <div class = "card-header">
            <h2>Manage Users</h2>
        </div>
        <div class="card-body">
            <table class = "table">
                <thead>
                    <tr>
                        <th scope = "col">Given Name</th>
                        <th scope = "col">Family Name</th>
                        <th scope = "col">Username</th>
                        <th scope = "col">Email</th>
                        <th scope = "col">Allowed</th>
                    </tr>
                </thead>
                <tbody>
                    {% if all_users | length > 0 %}

                    {% for user in all_users %}
                        <tr>
                            <td> {{ user['given_name'] }} </td>
                            <td> {{ user['family_name'] }} </td>
                            <td> {{ user['username'] }} </td>
                            <td> {{ user['email'] }} </td>
                            
                            <td>
                                {% if user['enrolled'] %}
                                <button type ="submit" class="btn btn-primary CCCS-button-invert" name="toggle_enroll_submit" value="{{ {'id' :user['id'], 'enrolled' : user['enrolled'] } }}">Enrolled</button>
                                {% else %}
                                <button type ="submit" class="btn btn-primary CCCS-button" name="toggle_enroll_submit" value="{{ {'id' :user['id'], 'enrolled' : user['enrolled'] } }}">Unenrolled</button>

                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    {% else %}
                        <tr>
                            <td>
                                None
                            </td>
                            <td>
                                None
                            </td>
                            <td>
                                None
                            </td>
                            <td>
                                None
                            </td>
                            <td>
                                None
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</form>