<form action = "{{ url_for(course_name)}}" method="post">
    <div class="card" >
        <div class = "card-header">
            <h2>Manage Assignments</h2>
        </div>
        <div class="card-body">
            <table class = "table">
                <thead>
                    <tr>
                        <th scope = "col">Title</th>
                        <th scope = "col">Link</th>
                        <th scope = "col">Due Date</th>
                        <th scope = "col">Delete</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control" name="assignments_name" placeholder="Assignment 1">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="pdf_link" placeholder="https://drive.google.com/file/d/file-code-here/preview">
                        </td>

                        <td>
                        <input type="date" class="datepicker" name="due_date">

                        </td>

                        <td>
                            <input type="submit" class="btn btn-primary CCCS-button" name="create_assignments_submit">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% if all_assignments | length > 0 %}

                    {% for assignment in all_assignments %}
                        <tr>
                            <td> {{ assignment['homework_name'] }} </td>
                            <td> <a href="{{ assignment['pdf_link'] }}">{{ assignment['pdf_link'] }}</a> </td>

                            <td> 
                                {% if assignment['due_date'] %}
                                {{ assignment['due_date'].strftime("%B %d, %Y") }} 
                                {% endif %}
                            </td>

                            <td>
                                <button type ="submit" class="btn btn-primary CCCS-button" name="delete_assignment_submit" value="{{ assignment['id'] }}">Delete</button>
                            </td>    

                        </tr>
                    {% endfor %}

                    {% else %}
                        <tr>
                            <td>
                                None
                            </td>
                            <td>
                                None
                            </td>

                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</form>