{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block content %}
    <div id ="mybanner" class="banner" style="color: white">
        <b>Debits Menu</b>
    </div>
    <div style="margin-left:15%;padding:10% 20%;height:20%;" id="main">
        <br>
        <br>
        <table border = 1>
            <tr>
                <th>Account</th>
                <th>Amount</th>
                <th>Time Added</th>
            </tr>
            {% for account in Account_data %}
                {% for trans in account.trans_debits %}
                    <tr>
                        <td align = "right"> {{ account['tag'] }}</td>
                        <td align = "right"> ${{ "{:.2f}".format(trans['amount']) }}</td>
                        <td align = "right"> {{ trans['datetime'] }}</td>
                        <td align = "right"> <a href='{{ url_for('remove_trans', trans_amount=trans['amount'], trans_date=trans['date'])}}'>Delete</a>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        <br><br>
        <form action = "" method ='POST'>
            <strong>Add Transaction</strong> <br><br>
            $<input type="text" name = "amount" placeholder="Transaction Amount" size = 15>
            <select name = "account">
                {% for account in Account_data %}
                    <option value={{account['account']}}>{{account['tag']}}</option>
                {% endfor %}
            </select>
            <input type="submit" value ="Add Transaction">
            <br><br>
        </form>
    </div>
{% endblock %}