{% extends "base.html" %}

{% block content %}
<body >

    <div class = "card text-center">
        <div class = "card-header">
            <a name="intro"></a>
            <h1>Welcome to the Columbia College Computer Science Department! </h1>
        </div>
        <div class = "card-body">
            <div>
                The computer science program at Columbia College is a very rigorous computer science program. 
                We have graduates who are successful in obtaining employment with top companies. 
                Many students have multiple jobs offered months before graduation. 
                We also have students who have gone on to graduate school to pursue a Ph.D./MS in computer science. 
                Here is a non-exhaustive list of multi-billion dollar revenue companies who are hiring some of our graduates:
                <ul style="padding-top: 5%;">
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/Google">Google</a></li>
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/Amazon_(company)">Amazon</a></li>
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/Microsoft">Microsoft</a></li>
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/IBM">IBM</a></li>
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/HP_Inc.">HP</a></li>
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/AT%26T">AT&T</a></li>
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/Bayer">Bayer</a></li>
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/Dell">Dell</a></li>
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/Emerson_Electric">Emerson Electric</a></li>
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/Lockheed_Martin">Lockheed Martin</a></li>
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/Raytheon">Raytheon</a></li>
                    <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/Garmin">Garmin</a></li>
                  </ul>
            </div>

            <div class="embed-responsive embed-responsive-16by9 text-center" style="padding-top: 5%;">
                <iframe src="https://www.youtube.com/embed/Q3O7Xc3gVHU" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class = "card text-center">
        <div class = "card-header">
            <a name="test"></a>

            <h1>Upcomming Events</h1>
        </div>
        <div class = "card-body">
            <div class="embed-responsive embed-responsive-16by9 text-center" style="padding-top: 5%;">
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23999999&amp;ctz=America%2FChicago&amp;src=Y2MuY3MucGhvdG9zLnZpZGVvc0BnbWFpbC5jb20&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23A79B8E&amp;color=%234285F4&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;showDate=1&amp;mode=AGENDA" style="border-width:0" width="800" height="300" frameborder="0" scrolling="no"></iframe>
                <br>
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23999999&amp;ctz=America%2FChicago&amp;src=Y2MuY3MucGhvdG9zLnZpZGVvc0BnbWFpbC5jb20&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23A79B8E&amp;color=%234285F4&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;showDate=1" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>

</body>

{% endblock %} 
