{% extends "base.html" %}

{% block content %}

<body >
    
    <div class="card col-md-8" style="margin:auto; margin-top:10%">
        {% for section in page_data['page-data']["home"] %}
            <div class = "card text-center">
                <div class = "card-header">
                    <h1> 
                        {{ section["section-header"] | safe}} 
                    </h1>
                </div>
            <div class = "card-body">
                <div>
                    {{ section["section-body"] | safe }}
                </div>
            </div>

            {% if section["embeded-item"] | length > 0 %}
                {% for embeded in section["embeded-item"] %}
                    <div class ="embed-responsive embed-responsive-16by9 text-center">
                        <iframe 
                            src="{{ embeded['link'] }}"
                            {% for arg in embeded['args'] %}
                            {{ arg | safe }}
                            {% endfor %}
                            > 
                        </iframe>
                    </div>
                {% endfor %}
            {% endif %}

        {% endfor %}
    </div>
</body>

{% endblock %} 
