{% extends "base.html" %}

{% block content %}

<body >
    <div class="card col-md-8" style="margin:auto;">
        <div class = "card text-center">
            <div class = "card-header">
                <h1> 
                    Welcome to the Columbia College Computer Science Department!
                </h1>
            </div>
            <div class = "card-body">
                <p>
                    We are a tight knit and active community in Columbia, MO dedicated to the study of Computer Science. 
                </p>
                <p>
                    Whether you are a well-versed expert or a total novice, there is a place for everyone in our group.
                    We pride ourselves on our dedication to helping everyone become fantastic Computer Scientists.
                </p>
                <div class="row">
                    <div class="card col-sm-6">
                        <div class="card-body CCCS">
                            <h5 class="card-title">New to CS?</h5>
                            <p class="card-text">
                                Are you completely new to CS or looking for a program to try? <br>
                                Click here for more resources and information
                            </p>
                            <a href="{{ url_for('new_student_info')}}" class="btn btn-primary CCCS-button-invert">New Student Information</a>
                        </div>
                    </div>

                    <div class="card col-sm-6">
                        <div class="card-body CCCS">
                            <h5 class="card-title">Student Resources</h5>
                            <p class="card-text">
                                Software, Courses, Notes, and Tools for students and Computer Scientists of CCCS
                            </p>
                            <a href="{{ url_for('home')}}" class="btn btn-primary CCCS-button-invert">Student Resources</a>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>

        <!-- Announcements -->
        <div class = "card text-center">
            <div class = "card-header">
                <h1>Announcements</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class = "table">
                        <thead>
                            <tr>
                                <th scope = "col">Event Date</th>
                                <th scope = "col">Announcement</th>
                            </tr>
        
                        </thead>
                        <tbody>
                            {% if all_announcements | length > 0 %}
        
                            {% for announcement in all_announcements %}
                            <tr>
                                <td> 
                                    {% if announcement['event_time'] %}
                                    {{ announcement['event_time'].strftime("%B %d, %Y") }} 
                                    {% endif %}
                                </td>
                                <td> {{ announcement['message'] }} </td>
                            </tr>
                            {% endfor %}
        
                            {% else %}
                            <tr>
                                <td>
                                    None
                                </td>
                                <td>
                                    None
                                </td>
                            </tr>

                            {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>


        </div>

        <div class="card text-center">
            <div class="card-header">
                <h2>
                    Join us at our CCCS Discord!
                </h2>

            </div>
            <div class="card-body row">
                <div class="col-sm-6">

                    <div>
                        <p>
                            At the start of the Covid-19 Pandemic, we resolved to being able continue 
                            working together and staying active as a community. To this goal, we started
                            a Discord server for our Department where you can chat with other students, 
                            attend tutoring sessions, and even chat with Professors. 
                        </p>
                        <p>
                            All students are welcome, join us at <a href="https://discord.gg/yrssjGb">https://discord.gg/yrssjGb</a> today!
                        </p>

                        <p>
                            For active students, we are maintaining Hangout Hours on Discord on Monday - Friday from 4:30pm to 6:30pm
                        </p>
                        <p>
                            Dr. Liow is currently using Hangout Hours and Discord as his office hours and can be reached there
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">

                    <div class="card-body CCCS">
                        <iframe src="https://discord.com/widget?id=688482626516025396&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class = "card text-center">
            <div class = "card-header">
                <h1> 
                    Upcomming Events
                </h1>
            </div>
            <div class = "card-body">

                <div class ="embed-responsive embed-responsive-16by9 text-center">
                    <iframe 
                        src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23999999&amp;ctz=America%2FChicago&amp;src=Y2MuY3MucGhvdG9zLnZpZGVvc0BnbWFpbC5jb20&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23A79B8E&amp;color=%234285F4&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;showDate=1"
                        style='border-width:0'
                        width='800'
                        height='600'
                        frameborder='0'
                        scrolling='no'
                        > 
                    </iframe>
                </div>

            </div>
        </div> -->
    </div>

    
</body>

{% endblock %} 
