{% extends "base.html" %}

{% block content %}

{{ super() }}

<body>
    <div class="card col-md-8" style="margin: auto;">
        <div class = "card text-center">
            <div class="card-header">
                <h1>Login </h1>
            </div>
            <div class="card-body text-left">
                <form action = "{{ url_for('login')}}" method="post">
                    <div class="row justify-content-center">
                        <div class="form-group col-6">
                            <label for="username">Username</label>
                            <input id="username"type="text" class="form-control" placeholder="Username" name="username">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-6">
                            <label for="password1">Password</label>
                            <input id="password1" type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                    </div>
                        
                    <div class="text-center"> 
                      <button type="submit" class="btn btn-primary CCCS-button">Sign in</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="card text-center">
            <h5>No Account?</h5>
            <a href="{{ url_for('registration') }}">Register Here</a>
        </div>
    </div>
</body>




{% endblock %}