{% extends "base.html" %}

{% block content %}
<script>
    
</script>

<body>
    
    
    <div class="card col-md-8" style="margin:auto;">

        <ul class="nav nav-tabs" id="Manage_site_tabs">
            <li class="nav-item">
                <a href="#ManageAnnouncements" class="nav-link active" data-bs-toggle="tab">Announcements</a>
            </li>
            <li class="nav-item">
                <a href="#ManageUsers" class="nav-link" data-bs-toggle="tab">Users</a>
            </li>
            <li class="nav-item">
                <a href="#ManageAnnouncements" class="nav-link" data-bs-toggle="tab">Courses</a>
            </li>
            <li class="nav-item">
                <a href="#ManageAnnouncements" class="nav-link" data-bs-toggle="tab">CCCS Nepal</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="ManageAnnouncements">
                {% include "site_management_templates/manage_announcements.html" %}
            </div>

            <div class="tab-pane fade" id="ManageUsers">
                {% include "site_management_templates/manage_users.html" %}
            </div>

        </div>


    </div>

</body>




{% endblock %} 
