{% extends "base.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#Manage_site_tabs a[href="' + activeTab + '"]').tab('show');
        }
    });
</script>

<body >
    
    <div class="card col-md-8" style="margin:auto;">

        <ul class="nav nav-tabs" id="Manage_site_tabs">
            <li class="nav-item">
                <a href="#ManageAnnouncements" class="nav-link active" data-bs-toggle="tab">Announcements</a>
            </li>
            <li class="nav-item">
                <a href="#ManageUsers" class="nav-link" data-bs-toggle="tab">Users</a>
            </li>
            <li class="nav-item">
                <a href="#ManageAnnouncements" class="nav-link" data-bs-toggle="tab">Courses</a>
            </li>
            <li class="nav-item">
                <a href="#ManageAnnouncements" class="nav-link" data-bs-toggle="tab">CCCS Nepal</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="ManageAnnouncements">
                {% include "site_management_templates/manage_announcements.html" %}
            </div>

            <div class="tab-pane fade" id="ManageUsers">
                {% include "site_management_templates/manage_users.html" %}
            </div>

        </div>


    </div>

</body>




{% endblock %} 
