{% extends "base.html" %}

{% block content %}
<body>
    <div class="col-md-8" style="margin:auto">
        <ul class="nav nav-tabs" id="new_student_info_tabs">
            <li class="nav-item">
                <a href="#WhyCS" class="nav-link active" data-bs-toggle="tab">Why CS?</a>
            </li>
            <li class="nav-item">
                <a href="#CCCSNepal" class="nav-link" data-bs-toggle="tab">CCCS Nepal</a>
            </li>
            <li class="nav-item">
                <a href="#PICS" class="nav-link" data-bs-toggle="tab">PICS</a>
            </li>
            <li class="nav-item">
                <a href="#HSInternship" class="nav-link" data-bs-toggle="tab">High School Internship</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="WhyCS">
                <div class = "card">
                    <div class = "card-header">
                        <h1>
                            Why Computer Science?
                        </h1>
                    </div>
                    <div class = "card-body">
                        <div>
                            The computer science program at Columbia College is a very rigorous computer science program. 
                            We have graduates who are successful in obtaining employment with top companies. 
                            Many students have multiple jobs offered months before graduation. 
                            We also have students who have gone on to graduate school to pursue a Ph.D./MS in computer science. 
                            Here is a non-exhaustive list of multi-billion dollar revenue companies who are hiring some of our graduates:
                            <ul class = "jobs" style='padding-top: 5%;'>
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/Google' style="width: 100%;" role="button">Google</a>
                                </li>
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/Amazon_(company)' style="width: 100%;" role="button">Amazon</a>
                                </li>
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/Microsoft' style="width: 100%;" role="button">Microsoft</a>
                                </li>
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/IBM' style="width: 100%;" role="button">IBM</a>
                                </li>
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/HP_Inc.' style="width: 100%;" role="button">HP Inc.</a>
                                </li>                               
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/AT%26T' style="width: 100%;" role="button">AT&T</a>
                                </li>                                
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/Bayer' style="width: 100%;" role="button">Bayer</a>
                                </li>
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/Dell' style="width: 100%;" role="button">Dell</a>
                                </li>                                
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/Emerson_Electric' style="width: 100%;" role="button">Emerson Electric</a>
                                </li>
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/Lockheed_Martin' style="width: 100%;" role="button">Lockheed Martin</a>
                                </li>
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/Raytheon' style="width: 100%;" role="button">Raytheon</a>
                                </li>
                                <li style="padding: 1%;">
                                    <a class="btn btn-primary" href='https://en.wikipedia.org/wiki/Garmin' style="width: 100%;" role="button">Garmin</a>
                                </li>
                            </ul>
                        </div>
        
                        <div class ="embed-responsive embed-responsive-16by9 text-center">
                            <iframe src="https://www.youtube.com/embed/Q3O7Xc3gVHU" allowfullscreen> </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="CCCSNepal">
                <div class = "card" >
                    <div class = "card-header">
                        <h1>
                            CCCS Nepal International Program
                        </h1>
                    </div>
                    <div class = "card-body" >
                        <ul class="nav nav-tabs" id="CCCSNepal_tabs">
                            <li class="nav-item">
                                <a href="#CCCSNepal_Overview" class="nav-link active" data-bs-toggle="tab">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a href="#CCCSNepal_Scholarship" class="nav-link" data-bs-toggle="tab">Scholarships</a>
                            </li>
                            <li class="nav-item">
                                <a href="#CCCSNepal_StepsToTake" class="nav-link" data-bs-toggle="tab">Steps To Take</a>
                            </li>
                            <li class="nav-item">
                                <a href="#CCCSNepal_ScholarshipInterview" class="nav-link" data-bs-toggle="tab">Scholarship Interview</a>
                            </li>
                            <li class="nav-item">
                                <a href="#CCCSNepal_VideoConference" class="nav-link" data-bs-toggle="tab">Video Conferences</a>
                            </li>
                            <li class="nav-item">
                                <a href="#CCCSNepal_ContactInfo" class="nav-link" data-bs-toggle="tab">Contact Info</a>
                            </li>
                            <li class="nav-item">
                                <a href="#CCCSNepal_FAQ" class="nav-link" data-bs-toggle="tab">FAQ</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="CCCSNepal_Overview" >
                                <!-- <div class = "card"> -->
                                <div class = "card">
                                    <div class = "card-header">
                                        <h1>
                                            Overview
                                        </h1>
                                    </div>
                                    <div class = "card-body">
                                        <p>
                                            Our department hosts a thriving community of Computer Scientists from Nepal, many of which have gone on to work for top companies,
                                            found their own start ups, and continue on to graduate school to pursue their PhDs.
                                        </p>
                                        <p>
                                            Columbia College offers full-tuition scholarships to international students. 
                                            Besides that, the computer science program also provides opportunity for on-campus work-study employment.
                                        </p>
                                        <p>
                                            To be successful in obtaining the full-tuition scholarship, 
                                            you must be strong academically and prove that you are someone who will contribute positively to the computer science rogram and also to student life in Columbia College. 
                                            Besides being a top student academically, a Columbia College scholar is also someone who is active in the college. 
                                            Therefore it is important for you to show that you are active in your student clubs or organizations at school and/or have some service record such as volunteer work in your community. 
                                            We are not just looking for someone who is academically strong. 
                                            We are looking for someone who is concerned about the world and whose goal is to make the world a better place.
                                        </p>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="tab-pane fade" id="CCCSNepal_Scholarship" >
                                <!-- <div class = "card"> -->
                                <div class = "card">
                                    <div class = "card-header">
                                        <h1>
                                            Scholarship
                                        </h1>
                                    </div>
                                    <div class = "card-body">
                                        <p>
                                            <h2>
                                                Application:
                                            </h2>
                                            <ul>
                                                <h3>
                                                    Requirements
                                                </h3>
                                                <ul>
                                                    <li>A minimum ACT Score of 21 </li>
                                                    <li>Class ranking in the top 50% of graduating class</li>
                                                    <li>minimum High School GPA of 2.5</li>
                                                    <li>Better academics are required to be eligible for the scholarship
                                                        <br>
                                                        <br>
                                                        Of course, they will likely expect more from international students
                                                    </li>
                                                </ul>
                                            </ul>

                                            <ul>
                                                <h3>
                                                    Application Process
                                                </h3>
                                                <ul>
                                                    <p>
                                                        <h4>
                                                           Link: <a href="https://www.ccis.edu/about/policies/undergraduate-admissions-requirements">CCIS Undergraduate Admissions Requirements</a> </li>
                                                        </h4>
                                                    </p>
                                                    <p>
                                                        <h4>
                                                            How to Apply as an International Student
                                                        </h4>
                                                        <div class ="embed-responsive embed-responsive-16by9 text-center">
                                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/xYLloV1jPQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                        </div>
                                                    </p>
                                                </ul>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>

                            <div class="tab-pane fade" id="CCCSNepal_StepsToTake" >
                                <!-- <div class = "card"> -->
                                <div class = "card">
                                    <div class = "card-header">
                                        <h1>
                                            Steps to Take
                                        </h1>
                                    </div>
                                    <div class = "card-body">
                                        <p>
                                            <ul>
                                                <p><h4>Take SAT and TOEFL after your final exams</h4>
                                                <ul>
                                                    <li>SAT requires 2 months preparation and TOEFL requires 1 month of preparation</li>
                                                    <li>Try to register for the SAT and TOEFL as early as possible. There are limited exam centers in Nepal and they may run out of seats.</li>
                                                    <li>The ideal time to take the SAT is Oct-Nov and TOEFL on May-June so that you can take it again in December if your score was not satisfactory.</li>
                                                    <li>Khan Academy has a lot of free resources to prepare for the SAT.</li>
                                                    <li>Practice and early preperation is key</li>
                                                </ul>
                                                </h4>
                                                <p><h4>Create a common application account and fill out the details</h4>
                                                    <ul>
                                                        <li>
                                                            Link: <a href="https://www.commonapp.org/"> commonapp</a>
                                                        </li>
                                                    </ul>
                                                </h4>
                                                <p><h4>Ask your teachers for the letter of recommendation</h4>
                                                    <ul>
                                                        <li>A Letter of Recommendation is a document where your instructor describes your skills and potential</li>
                                                        <li>It is good to have 3 letters of recommendation
                                                            <ul> Usually, universities asks for 2 letters of recommendation</ul>
                                                        </li>
                                                    </ul>
                                                </p>
                                                <p> <h4>Draft your Personal Essay</h4>
                                                    <ul>
                                                        <li>Start thinking about the personal essay early</li>
                                                        <li>There are multiple personal essays to choose from, in common application</li>
                                                        <li>You should answer one of them in an elegant way</li>
                                                        <li>Start brainstorming early, consult your English teacher, and try to come up with an essay that describes you well</li>
                                                    </ul>
                                                </p>
                                                <p> <h4>Apply</h4>
                                                    <ul>
                                                        <li>Begin after you are done with these processes and SAT/ACT and TOEFL/IELTS</li>
                                                    </ul>
                                                </p>
                                                
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="tab-pane fade" id="CCCSNepal_ScholarshipInterview" >
                                <!-- <div class = "card"> -->
                                <div class = "card">
                                    <div class = "card-header">
                                        <h1>
                                            Scholarship Interview
                                        </h1>
                                    </div>
                                    <div class = "card-body">
                                        <p>
                                            <h4>Prepare for The Interview</h4>
                                            <ul>
                                                <h5 style="color: red;">One very important advice</h5>
                                                <ul>
                                                    <li>For overseas/international students, the scholarship interview is done through a video chat (probably either skype or zoom)</li>
                                                    <li>It is important to speak clearly and slowly</li>
                                                    <li>You are under the mercy of internet bandwidth</li>
                                                </ul>
                                                We once had a strong candidate who did not do well during the interview process because of bad internet connection. And because he was talking too fast, some of the spoken words were either garbled or totally lost in transmission. So practice talking slowly with a friend doing a mock interview.
                                            </ul>
                                        </p>
                                        <p>
                                            <h4>Get Advice</h4>
                                            <ul>
                                                <li>You might want to google for advice and common questions asked during a scholarship interview</li>
                                                <li>You might want to ask someone to do a mock interview with you, record the session, and play it back to yourself</li>
                                            </ul>
                                        </p>
                                        <p>
                                            <h4>Be relaxed, Be Polite, and Ask Questions</h4>
                                            <ul>
                                                <li>Go into the interview relaxed. Try to calm yourself down and avoid being tense and stiff</li>
                                                <li>Treat the interviewer with respect and courtesy, they are more likely to report back kindly on someone who treated them nicely</li>
                                                <li>If you do not understand the question (either because the question was vague or because of bad internet connection), it is OK to ask the interviewer to repeat the question or ask for clarification</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="tab-pane fade" id="CCCSNepal_VideoConference" >
                                <!-- <div class = "card"> -->
                                <div class = "card">
                                    <div class = "card-header">
                                        <h1>
                                            Video Conferences
                                        </h1>
                                    </div>
                                    <div class = "card-body">
                                        <p>
                                            We host video conferences to meet up with students from Nepal. 
                                            This is a great opportunity for us to meet with you and address any questions you have about studying in the USA, 
                                            in Columbia College, Computer Science, etc.
                                        </p>
                                        <p>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope = "col">Name</th>
                                                        <th scope = "col">USA Datetime (CST)</th>
                                                        <th scope = "col">Nepal Datetime (GMT+5:45)</th>
                                                        <th scope = "col">Signup Form</th>
                                                        <th scope = "col">Google Meet</th>
                                                        <th scope = "col">Recordings</th>
                                                        <th scope = "col">Num of Participants</th>
                                                        <th scope="col" >Notes</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Conference #2.1</td>
                                                        <td>Aug 27, 2021, 10:15pm</td>
                                                        <td>Aug 28, 2021, 9AM</td>
                                                        <td><a href="http://bit.ly/cccsnepal2">Form</a></td>
                                                        <td><a href="https://meet.google.com/bxd-hrtn-sco">Meet</a></td>
                                                        <td>
                                                            <ul> <a href="https://photos.google.com/share/AF1QipM6jnWK3lZ3PXRa3-ITMht7Y-ZQfu2WX6PHdfE4WyoOEkiUlkVItyXWTHMuj7bM5A?pli=1&key=TEZXZ2lPS2FLYUxEYkh5YkhpcTVrd1NScFRYU1VB">Part 1</a></ul>
                                                            <ul> <a href="https://photos.google.com/share/AF1QipP5uyEAcICJSDwISDPDmft_g9DojLnFDRJEQdk-Run3fCmpy2ziiyHD7zKvt0DkaQ/photo/AF1QipOObCAy7FOxgLijaeRr_62reXQ-UUi7eV44-DjF?key=emp6dE9CZ0VWckwwYTNTaWxWdkFYUi0wdzBhWTlB">Part 2</a></ul>
                                                            <ul> <a href="https://photos.google.com/share/AF1QipOpat5YWuoCC4JUmRNxqL3oZ4NT4dpLJOeHn2oaukeTG2j2c3Q1O0xWv7dhIc53lg?key=TFp6WGFSWDU5Ym1TamNBTThiY2VBN3UxSnpBZ0x3">Part 3</a></ul>
                                                            <ul> <a href="https://photos.google.com/share/AF1QipMSvMmUtxy-le3AxDgCaZ0rk2cyG2RNCROQRdmItkXy6dZWYoqt_qAAaA2dIHAQLw?key=bFp2cmV6WG5iTGtMOUdmR2ZBMUI2ckdtYnJzNjd3">Part 4</a></ul>

                                                        </td>
                                                        <td>260</td>
                                                        <td>
                                                            This video conference is specifically for Nepali students 
                                                            who are interested in studying at Columbia College 
                                                            (in Columbia, Missouri, USA) beginning Fall (August) 2022.                                                        
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody>
                                                
                                                </tbody>
                                            </table>

                                        </p>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="tab-pane fade" id="CCCSNepal_ContactInfo" >
                                <!-- <div class = "card"> -->
                                <div class = "card">
                                    <div class = "card-header">
                                        <h1>
                                            Contact Information
                                        </h1>
                                    </div>
                                    <div class = "card-body">
                                        <p>
                                            We are always happy to help if there are queries regarding anything. 
                                            (Anything …. including McDonald's burger price)  
                                            Here are some contact email contact information: 
                                            <ul>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Email</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Saurav Bhattarai</td>
                                                            <td><a href="mailto:sbhattarai5@cougars.ccis.edu">sbhattarai5@cougars.ccis.edu</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Aastha Lamichhane</td>
                                                            <td><a href="mailto:alamichhane@cougars.ccis.edu">alamichhane@cougars.ccis.edu</a></td>
                                                        </tr>                                                        
                                                        <tr>
                                                            <td>Bibek Poudel</td>
                                                            <td><a href="mailto:bpoudel1@cougars.ccis.edu">bpoudel1@cougars.ccis.edu</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dr. Yihsiang Liow</td>
                                                            <td><a href="mailto:yliow@ccis.edu">yliow@ccis.edu</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </ul>
                                            <ul>
                                                For questions related to computer science, 
                                                comparison of computer science programs/departments, 
                                                career questions, feel free to email Dr. Liow.
                                            </ul>
                                        </p>

                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="tab-pane fade" id="CCCSNepal_FAQ" >
                                <!-- <div class = "card"> -->
                                <div class = "card">
                                    <div class = "card-header">
                                        <h1>
                                            Frequently Asked Questions
                                        </h1>
                                    </div>
                                    <div class = "card-body">
                                        <p>
                                            <h4>What is the average cost of living for Columbia, Missouri, USA?</h4>
                                            <ul>
                                                <p>
                                                    As of 3/22/2020, according to the first website returned when doing a 
                                                    google search for cost of living in Columbia, Missouri, USA, 
                                                    the average cost of living index is 87.9. The website uses 100 to denote the 
                                                    average cost of living in the USA. Therefore the average cost of living 
                                                    for Columbia, Missouri, USA is below average.  (Of course the data will 
                                                    vary from year to year and different websites might calculate differently.) 
                                                </p>
                                                <p>
                                                    On the topic of living in Columbia, Missouri, USA:
                                                    <ul>
                                                        <li>
                                                            Columbia, Missouri, USA is frequently listed as one of 
                                                            the top most livable college towns in the USA. For instance 
                                                            according to an article in 
                                                            <a href="https://www.usatoday.com/story/money/2019/09/07/best-college-towns-these-30-rank-among-30-top-us/2235088001/">
                                                                USA Today (dated 9/2019)
                                                            </a>
                                                            Columbia, 
                                                            Missouri is ranked #17 among all college towns in the USA. 
                                                            Of course, rankings vary year to year and vary website to 
                                                            website. For instance livability.com ranks Columbia, 
                                                            Missouri as #7 in 2015.
                                                        </li>
                                                        <li>
                                                            According to a report by 
                                                            <a href = "https://www.asecurelife.com/">
                                                                ASecureLife.com
                                                            </a>, Columbia College is No. 3 
                                                            most secure college campus in the United States. The publication 
                                                            ranked campuses based on property crime 
                                                            rates after analyzing 10 years' worth of crime data from 
                                                            hundreds of public and nonprofit colleges.

                                                        </li>
                                                    </ul>
                                                </p>

                                            </ul>
                                        </p>
                                        
                                        <p>
                                            <h4>Do I need to know how to program to get into your CS program?
                                            </h4>
                                            <ul>
                                                <p>
                                                    No. In our computer science program, we do not assume you have 
                                                    prior programming experience. We have very successful graduates 
                                                    who enter our computer science program without any programming background.
                                                </p>
                                            </ul>
                                        </p>

                                        <p>
                                            <h4>Can I take science classes?
                                            </h4>
                                            <ul>
                                                <p>
                                                    Yes. Columbia College also offers classes in physics, 
                                                    chemistry, and biology. Here is a 
                                                    <a href="http://catalog.ccis.edu/content.php?catoid=26&navoid=3102">
                                                        link 
                                                    </a>
                                                    to the catalog of courses offered at Columbia College.

                                                </p>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="PICS">
                <div class = "card">
                    <div class = "card-header">
                        <h1>
                            Portal Into Computer Science
                        </h1>
                    </div>
                    <div class = "card-body">
                        <div>
                            <img class="rounded mx-auto d-block"  src="{{ url_for('static', filename = 'images/logos/PiCS_logo.png') }}">
                        </div>
                        <div>
                            <p>
                                <h2> What is PiCS?</h2>
                                <ul>PiCS (or Portal into Computer Science) is the Computer Science outreach program of Columbia College.</ul>
                            </p>
                            <p>
                                <h2>Goal of PiCS</h2>
                                <ul>
                                    <p>
                                        The goal of PiCS is to introduce K-12 students to the exciting area of Computer Science.
                                        We have visited Benton Elementary School and Alpha Hart Lewis Elementary School to talk about computer science and to teach basic programming.
                                    </p>
                                    <p>
                                        In spring 2017 we organized an “Hour of Code” event for Jeff Middle School.
                                        We have organized several high school events including an annual High School 
                                        Programming Contest since spring 2015. 
                                        We are also organizing several summer camps for middle school and high school students.
                                    </p>
                                    <p>
                                        More programs for elementary school students are forthcoming.
                                    </p>
                                </ul>
                            </p>
                        </div>
                        <div class="carousel slide" data-ride="carousel" id = "PiCS_carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

                                {% for index in range((pictures_urls | length) - 1) %}
                                    <li data-target="#carouselExampleIndicators" data-slide-to="{{index + 1}}"></li>
                                {% endfor %}
                            </ol>

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="{{ url_for('static', filename = 'images/PiCS_gallery/' + pictures_urls[0] ) }} "></li>
                                </div>

                                {% for index in range((pictures_urls | length) - 1) %}
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{{ url_for('static', filename = 'images/PiCS_gallery/' + pictures_urls[index + 1] ) }}"></li>
                                </div>
                                {% endfor %}

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="HSInternship">
                <div class = "card">
                    <div class = "card-header">
                        <h1>
                            Internship for High School Students
                        </h1>
                    </div>
                    <div class = "card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock %} 
