{% extends "base.html" %}

{% block content %}
<body >
    <div class="card col-md-8" style="margin: auto;">
        <div class = "card text-center">
            <div class="card-header">
                <h1>Page Under Construction</h1>
            </div>
            <div class="card-body text-center">
                <h3>WORK IN PROGRESS</h3>

                <p>
                    This page isn't done yet, but it will be done soon! 
                </p>
                <p>
                    Check back in a few days to enjoy this new feature when it is ready...
                </p>
                <p>
                    <a class = "btn btn-primary CCCS-button" role = "button" href="{{ url_for('home') }}">Return to home page</a>
                </p>
                <!-- <p>
                    <iframe src="https://drive.google.com/file/d/0BzGM4ZxqYbk5S3FieFFRYWJlVmRxNDIyTjhZdFFZeGRRQ3ZV/preview?resourcekey=0-erVFXlakfdxgu0XdbYfIIw" width="640" height="480"></iframe>
                </p> -->
            </div>
        </div>

    </div>
</body>
{% endblock %} 